#import-screen-background {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 0, 0, 0.4);
}

#import-button{
	float: right;
	display: block;
}

#back-button{
	float: right;
	display: block;
}

.import-dialog {
    background: §background-primary-color;
    padding: 5.5em;
    box-shadow: 0 0 2px §border-color;
}
