@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background: §background-secondary-color;
    height: 100%;
}

#page {
    display: flex;
    align-items: stretch;
    height: 100%;
}

aside {
    flex-grow: 0;
    width: 12em;
    background: §background-primary-color;
    border-right: 1px solid §border-color;
    box-shadow: 0 0 2px §border-color;
}

.major-menu-link {
    font-size: 110%;
    padding: 0.5em 1.5em;
    cursor: pointer;
    font-weight: 300;
}

.major-menu-link:hover {
    background: §primary-color;
    color: white
}

main {
    flex-grow: 1;
    padding: 1em 3em;
}

h1 {
    margin: 0 0 0.75em 0;
    font-size: 130%;
    font-weight: 300;
}
