section table.table {
    height: 100%;
    border: 0;
    background: §background-secondary-color;
    display: flex;
    flex-direction: column;
}

section table.table thead {
    flex-shrink: 0;
    display: block;
    position: relative;
    background: §primary-color;
    color: black;
}

section table.table > tbody {
    flex-grow: 1;
    display: block;
    overflow-y: scroll;
}

section table.table tr {
    background: §background-primary-color;
}

@media only screen and (min-width: 760px) {
    section table.table tr {
        display: flex;
    }
}

section table.table th {
    flex-grow: 1;
    border: 0;
}

section table.table td {
    flex-grow: 1;
    background: transparent;
}

/* Show accounts in a different tabular form on mobile */
@media only screen and (max-width: 760px) {
    section table.table thead {
        display: none;
    }

    #accounts table.table tr:not(.adding-row):not(.inline-editing) {
        display: block;
        position: relative;
        width: 100%;
        border: 0;
    }

    #transactions table.table tr:not(.adding-row):not(.inline-editing) {
        display: block;
        position: relative;
        width: 100%;
    }

    #accounts table.table tr:not(.inline-editing) td,
    #transactions table.table td {
        display: block;
    }

    #transactions table.table tr:not(.inline-editing) td:first-child {
        font-size: 80%;
        padding-bottom: 0;
        color: §secondary-text-color;
    }

    #accounts table.table tr:not(.inline-editing) td:nth-child(2) {
        display: none;
    }
    
    #transactions table.table tr:not(.inline-editing) td:nth-child(2) {
    }
    
    #accounts table.table tr:not(.inline-editing) td:nth-child(3) {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    #transactions table.table tr:not(.inline-editing) td:nth-child(3) {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 80%;
        padding-bottom: 0;
        color: §secondary-text-color;
    }

    #accounts table.table tr:not(.inline-editing) td:nth-child(4) {
        display: none;
    }

    #transactions table.table tr:not(.inline-editing) td:nth-child(4),
    #transactions table.table tr:not(.inline-editing) td:nth-child(5) {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
