<div id="export-gnucash">
    <header class="navigation">
        <h1>Export to gnucash</h1>
        <span class="toolbar">
        </span>
    </header>
    <content>
        <div class="columns">
            <div>
                <p>At present, it is only possible to export the default book
                with no options. This is in any case enough to backup data or
                to further convert it to other formats through gnucash itself.</p>
            </div>
            <div>
            </div>
            <div>
            </div>
        </div>
        <div style="text-align: right;">
            <button class="raised" id="export-button">Export</button>
        </div>
    </content>
</div>
