<div id="page">
    <aside>
        <header id="logo-header">
            <span id="logo">Electrum</span><span class="icon-menu"></span>
        </header>
        <content>
            <div class="major-menu-link" id="menu-dashboard">
                <span class="icon-gauge"></span> Dashboard
            </div>
            <div class="major-menu-link" id="menu-accounts">Accounts</div>
            <div class="minor-menu-link" id="menu-assets">
                <span class="icon-briefcase"></span> Assets
            </div>
            <div class="minor-menu-link" id="menu-income">
                <span class="icon-login"></span> Income
            </div>
            <div class="minor-menu-link" id="menu-expenses">
                <span class="icon-logout"></span> Expenses
            </div>
            <div class="major-menu-link" id="menu-reports">
                <span class="icon-chart-line"></span> Reports
            </div>
        </content>
        <footer>
            <subview name="connection-indicator"></subview>
        </footer>
    </aside>
    <main id="main">
        <subview name="main"></subview>
    </main>
    <subview name="menu"></subview>
</div>
