<div id="menu">
    <div id="menu-file">
        <h2><span class="icon-database"></span> Data</h2>
        <content>
            <h3>import</h3>
            <div class="item" id="menu-import-gnucash">GnuCash</div>
            <h3>export</h3>
            <div class="item" id="menu-export-gnucash">GnuCash</div>
        </content>
    </div>
    <div id="menu-user">
        <h2><span class="icon-user"></span> User</h2>
        <content>
            <div class="item" id="menu-user-logout">Logout</div>
            <div class="item" id="menu-user-settings">Settings</div>
        </content>
    </div>
</div>
