<div id="reports">
    <header class="navigation">
        <h1>Reports</h1>
        <span class="toolbar">
            <!--<span class="tool" id="add-account">
                <span class="icon-plus-circled icon"></span>
                <span>Add account</span>
            </span>-->
        </span>
    </header>
    <section>
        <content>
            <h2>Our best reports</h2>
            <%  reports.each(function (report) {
            print('<div onclick="Electrum.router.navigate(\'/report/' + report.id +
                        '\', {trigger: true});"' +
                        ' class="report-square">' +
                        '<div style="background-image: url(' + report.get('ImageUrl') + ')"></div>' +
                        '<content><h3>' + report.get('Name') + '</h3>' +
                        '<p>' + report.get('Description') + '</p>' + 
                        '</div>');
                }); %>
        </content>
    </section>
</div>
