<div id="user-settings">
    <header class="navigation">
        <h1>User settings</h1>
        <span class="toolbar">
        </span>
    </header>
    <content>
		<h3>Profile</h3>
		<div class="setting-group">
			<p> <%= username %> </p>
			<p>*NAME* *SURNAME*</p>
			<p>Subscribed on: *DATE*</p>
			<p>Last access on: *DATE*</p>
		</div>
		
		<h3>Security</h3>
		
		<div class="setting-group">
			<h4>Email address</h4>
			<p>*fuzzed EMAIL*</p>
			<p>change email address</p>
			
			<h4>Password</h4>
			<p>changed on: *DATE*</p>
			<p>change password</p>
		</div>
    </content>
</div>
